body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #000000;
    
}

/* Contenedor principal */
.container {
    width: 90%;
    margin: auto;
    padding-top: 20px;
}

/* Fondo con opacidad */
.background::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../Assets/fondo\ elemento.jpg") no-repeat center center/cover;
    opacity: 10%;
    z-index: -1;
}

/* Flecha de regreso */
.back-arrow {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 24px;
    color: white;
    text-decoration: none;
    z-index: 1000;
}

/* Header */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 0;
    position: absolute;
    top: 0;
    left: 0;
}

.header-logo {
    width: 150px;
    height: auto;
}

/* Contenido principal */
.content {
    display: flex;
    align-items: center;
    margin-top: 100px;
}

/* Imagen del personaje */
.image-container {
    flex: 1;
    display: flex;
    justify-content: center;
}

.character-image {
    width: 80%;
    max-width: 400px;
}

/* Información del personaje */
.info {
    flex: 1;
    padding: 30px;
}

.team {
    font-size: 10px;
    color: #bfbfbf;
    text-transform: uppercase;
    
}

.name {
    margin-top: 0%;
    font-size: 70px;
    font-weight: bold;
    color: white;
}
.info{
    color: aliceblue;
}
.background h3,
.appearances h3 {
    color: #5855ff;
    font-size: 1.5rem;
    margin-top: 20px;
}

p {
    font-size: 1rem;
    margin: 5px 0;
}

/* Apariciones */
.movies {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.movies img {
    width: 80px;
    height: auto;
    border-radius: 5px;
}

/* Footer */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.footer img {
    width: 300px;
}

.iconos {
    display: flex;
    gap: 30px;
    margin-top: 10px;
}

.iconos a {
    color: white;
    text-decoration: none;
}

.icon {
    font-size: 25px;
    padding: 14px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    transition: 0.3s;
}

.icon:hover {
    background-color: rgb(50, 50, 50);
}

#mensaje {
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
    background-color: rgb(37, 37, 37);
    padding: 6px;
    color: white;
}