body{
    background-color: black;

    background-size: cover;
    position: absolute;
    

    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif
}


/*lienas_______________________________________________________________________*/

.linea{
    border-bottom: 1px solid white;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 30px;
    margin-bottom: 30px;
   }

   .linea2{
    border-bottom: 1px solid white;     
    width: 600px;
      }
   

/*________________________________________________________________________________________*/
p{
    font-size: 19px;
    font-weight: 200;
    margin: 0%;
    color: rgb(236, 236, 236);
}

h1{
    margin: 0%;
    font-size: 70px;
}

h2{
    font-size: 40px;
    font-weight: bold;
    margin: 0%;
}




/*barra de navegacion________________________________________________________*/

.header{
    padding-top: 0%;
    margin-top: 0%;
}

.logo {
    padding-top: 20px;
    width: 10rem;
    object-fit: cover;
    padding-right: 50px;
}

.menu {
    padding-top: 0%;
    margin-top: 0%;

    width: 300px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);

    justify-content: center;
    position: fixed;
    top: 0%;
    display: flex;
    width: 100%;
    height: 120px;
    align-items: center;
}

.container {
    max-width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
}


.nav-items {
    display: flex;
    align-items: center;
    gap: 45px;
    border-bottom: 1px solid white;
}

.nav-items li {
    padding-bottom: 5px;
    padding-right: 20px;
    list-style: none;
}


.nav-items li a {
    color: rgb(255, 255, 255);
    font-weight: 500;
    text-decoration: none;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;

}

.boto{
    list-style: none;
}


#Boton-principal {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 19px;

    margin-left: 30px;
    width: 200px;
    margin-bottom: 10px;

    padding-right: 20px;
    padding-top: 9px;
    padding-left: 20px;
    padding-bottom: 8px;

    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
   
    border-radius: 50px;
    border: none;

}

/*intro y call to action________________________________________________________*/

 


.container2{
    display: flex;
    flex-direction: column;


    padding-top: 80px;
    padding-right: 200px;
    padding-left: 200px;

    
    text-align: center;
    align-content: center;
}



.call{
    display: flex;

    height: 60px;

    padding-right: 200px;
    padding-left: 200px ;
}

.botones1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: bold;

    width: 300px;

    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;

    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    
    border-radius: 50px;
    border: none;
}


/*Quienes Somos________________________________________________________*/

.container3{
    margin: 0%;
    justify-items: center;
    padding-bottom: 20px;
    text-align: center;

    display: flex;
    align-items: center;

}
.tittle{
    padding-bottom: 30px;
}

.Botonesss{
    gap: 180px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.botones2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: bold;

    width: 230px;

    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;

    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    
    border-radius: 50px;
    border: none;
  
}

.R2-D2{
    padding-left: 75px;
    padding-right: 25px;
}


/*Carrusel_____________________________________________________________________________________________________*/

.mensajecarrusel{
   display: flex;
   align-items: center;
   text-align: center;
   justify-content: center;
}

.mensajito{
   padding: 20px;
}


#slider {
    margin: 0 auto;
    width: 95%;
    max-width: 100%;
    text-align: center;
    height: 900px;
 }
 #slider input[type=radio] {
    display: none;
 }
 #slider label {
    cursor:pointer;
    text-decoration: none;
 }
 #slides {
    padding: 10px;
    border-radius: 25px;
    background: #000000;
    position: relative;
    z-index: 1;
 }
 #overflow {
    border-radius: 100px;
    width: 100%;
    overflow: hidden;
 }
 #slide1:checked ~ #slides .inner {
    margin-left: 0;
 }
 #slide2:checked ~ #slides .inner {
    margin-left: -100%;
 }
 #slide3:checked ~ #slides .inner {
    margin-left: -200%;
 }
 #slide4:checked ~ #slides .inner {
    margin-left: -300%;
 }
 #slides .inner {
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 400%;
    line-height: 0;
    height: 800px;
 }
 #slides .slide {
    width: 25%;
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fff;
 }
 #slides .slide_1 {
    background-size: cover;
 }
 #slides .slide_2 {
    background: #003459;
 }
 #slides .slide_3 {
    background: #007EA7;
 }
 #slides .slide_4 {
    background: #00A8E8;
 }
 #controls {
    color: #ffffff;
    margin: -180px 0 0 0;
    width: 100%;
    height: 50px;
    z-index: 3;
    position: relative;
 }
 #controls label {
    transition: opacity 0.2s ease-out;
    display: none;
    width: 50px;
    height: 50px;
    opacity: .4;
 }
 #controls label:hover {
    opacity: 1;
 }
 #slide1:checked ~ #controls label:nth-child(2),
 #slide2:checked ~ #controls label:nth-child(3),
 #slide3:checked ~ #controls label:nth-child(4),
 #slide4:checked ~ #controls label:nth-child(1) {
    background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
    float:right;
    margin: 0 -50px 0 0;
    display: block;
 }
 #slide1:checked ~ #controls label:nth-last-child(2),
 #slide2:checked ~ #controls label:nth-last-child(3),
 #slide3:checked ~ #controls label:nth-last-child(4),
 #slide4:checked ~ #controls label:nth-last-child(1) {
    background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
    float:left;
    margin: 0 0 0 -50px;
    display: block;
 }
 #bullets {
    margin: 150px 0 0;
    text-align: center;
 }
 #bullets label {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius:100%;
    background: #494949;
    margin: 0 10px;
 }
 #slide1:checked ~ #bullets label:nth-child(1),
 #slide2:checked ~ #bullets label:nth-child(2),
 #slide3:checked ~ #bullets label:nth-child(3),
 #slide4:checked ~ #bullets label:nth-child(4) {
    background: #ffffff;
 }
 @media screen and (max-width: 900px) {
    #slide1:checked ~ #controls label:nth-child(2),
    #slide2:checked ~ #controls label:nth-child(3),
    #slide3:checked ~ #controls label:nth-child(4),
    #slide4:checked ~ #controls label:nth-child(1),
    #slide1:checked ~ #controls label:nth-last-child(2),
    #slide2:checked ~ #controls label:nth-last-child(3),
    #slide3:checked ~ #controls label:nth-last-child(4),
    #slide4:checked ~ #controls label:nth-last-child(1) {
       margin: 0;
    }
    #slides {
       max-width: calc(100% - 140px);
       margin: 0 auto;
    }
 }






/*Boton_____________________________________________________________________________________________________*/

.Boto{
    justify-items: center;
}


.botones3{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 45px;

    width: 600px;

    margin-bottom: 80px;
    margin-left: 40px;


    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;

    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    
    border-radius: 50px;
    border: none;

}

/*Contacto_______________________________________________________________________________________________*/

.container4{
   padding-top: 80px;
   padding-right: 500px;
   padding-left: 500px;
   text-align: center;
   padding-bottom: 30px;
}

#container5{
   padding-top: 50px;
   display: flex;
   align-items: center;
}



.containerr {
   padding: 20px;
   border-radius: 15px;
   width: 480px; 
   display: flex;
   flex-direction: column;
   gap: 15px;
}


.input-container {
   display: flex;
   align-items: center;
   background: #f0f0f0;
   padding: 10px;
   border-radius: 5px;
}


.input-container input {
   border: none;
   background: none;
   outline: none;
   flex-grow: 1;
   font-size: 16px;
   color: black;
}

.input-container1 {
   display: flex;
   align-items: center;
   background: #f0f0f0;
   padding: 10px;
   padding-bottom: 100px;
   border-radius: 5px;
}


.input-container1 input {
   border: none;
   background: none;
   outline: none;
   flex-grow: 1;
   font-size: 16px;
   color: black;
}

#Botondentro{
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bolder;
   font-size: 19px;

   margin-right: 10px;
   width: 100px;
   
   padding-right: 20px;
   padding-top: 9px;
   padding-left: 20px;
   padding-bottom: 8px;

   background-color: rgb(255, 255, 255);
   color: rgb(0, 0, 0);
  
   border-radius: 50px;
   border: none;

}

/*Footer_____________________________________________________________________________________________________________________*/

.fooder{
   display: flex;
   flex-direction: column;
   align-items: center;
}

.info{
   padding-top: 100px;
   padding-bottom: 25px;
   text-align: center;
}


.iconos{
   display: flex;
   gap: 20px;
}

.icon1{
   
   font-size: 29px;
   padding-bottom: 14px;
   padding-top: 14px;
   padding-left: 21px;
   padding-right: 21px;
   background-color: rgb(255, 255, 255);
   border-radius: 100px;
   color: rgb(0, 0, 0);
}
.icon2{
   font-size: 25px;
   padding-bottom: 1px;
   padding-top: 15px;
   padding-left: 18px;
   padding-right: 18px;
   background-color: rgb(255, 255, 255);
   border-radius: 100px;
   color: rgb(0, 0, 0);
}
.icon3{
   font-size: 25px;
   padding-bottom: 14px;
   padding-top: 14px;
   padding-left: 18px;
   padding-right: 18px;
   background-color: rgb(255, 255, 255);
   border-radius: 100px;
   color: rgb(0, 0, 0);
}

.icon4{
   font-size: 29px;
   padding-bottom: 14px;
   padding-top: 14px;
   padding-left: 18px;
   padding-right: 18px;
   background-color: rgb(255, 255, 255);
   border-radius: 100px;
   color: rgb(0, 0, 0);
}






